Package: jy
Version: 20190202
Description: jy
Section: apps
Priority: optional
Maintainer: netwan
Architecture: mipsel
Homepage: https://github.com/guangmingwan/rs97-jy
Depends:
Source: https://github.com/guangmingwan/rs97-jy
